body {
}

#navvlicious{
    margin-top:0px;
    margin-bottom:0px;
    background-color: #000000;
}

.glyphicon.glyphicon-home{
    color:lightgray;
}

.glyphicon.glyphicon-home:hover{
    color:#FFFFFF;
}

.nav.navbar-nav.navbar-right li a{
    color:lightgray;
    background-color:#000000;
}

.nav.navbar-nav.navbar-right li a:hover{
    color:#FFFFFF;
}


