html,body {
    overflow-x: hidden;
}


#navvlicious{
    margin-top:0px;
    margin-bottom:0px;
    background-color: #000000;
}

.glyphicon.glyphicon-home{
    color:lightgray;
}

.glyphicon.glyphicon-home:hover{
    color:#FFFFFF;
}

.nav.navbar-nav.navbar-right li a{
    color:lightgray;
    background-color:#000000;
}

.nav.navbar-nav.navbar-right li a:hover{
    color:#FFFFFF;
}

.jumbotron {
    height:100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left:0;

}

.img-responsive{
    height:auto;
    max-width:100%;

}


.caption  {
    position:absolute;
    top:10%;
    left:31%;
    width:100%;
    color:white;
}
.captions {
    position:absolute;
    top:17%;
    left:29%;
    width:100%;
    color:white;
}

.firstHeader{
    background-color:#000000;
    color:white;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;

}

.caption.mountainText{
    text-align:left;
    color:#000000;
    padding-left:0px;
}

#locationNum1{
    padding-left:0px;
    margin-left:0 auto;
}



/*div.container{

    margin-top:0px;
    padding-top:0px;
    width: 1360px;
    height: 351px;
    position: relative;
    color:white;
}
div.container img{
    position:absolute;
    bottom:0px;
}
div.container img#splashImage1{
    left: 0;
}
div.container img#splashImage2{
    right:0px;
    width:380px;
    height:372px;
}


.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center;
    position: relative;
    width:40%;
    
    
}

.wrapper {
    text-align:center;
}*/



/*div.row  {
    width: 1360px;
    height: 351px;
    position: relative;
}

.row img {
     position:absolute;
    bottom: 0;
}

.row img#splashImage1  {
    left: 0;
}

.row img#splashImage2 {
    right: 0;
    width:380px;
    height:372px;
}*/








